nav{
    background-color: white;
  }

  .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #dcdcdc;
  padding: 12px 20px;
  border-bottom: 2px solid #bfbfbf;
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

img {
  width: 25px;
  height: 25px;
  background: white;
  border: 1px solid #000;
}

.title {
  font-size: 20px;
  font-weight: bold;
 
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 10px;
}
