* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body{
  width: 100%;
  height: 100%;
}
.resBody{
   padding: 1.3rem;
   min-height: 100vh;
 
}

.SearchBar{
padding-top: 0.8rem;
}
.Title{
    padding-top: 0.8rem;
}
.List{
    padding-top: 0.8rem;
}
