.contant{
    padding: 1%;
    min-height: 100vh;
}

.favourites-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 2rem;
    padding-top: 1%;
}

.back-btn {
  margin: 20px;
  padding: 6px 14px;
  border-radius: 8px;
  font-size: 14px;
  background: #846D29;
  color: black;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
}


