
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.reservationPage {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #f7f7f7;
}

.SearchBar{
  padding-top: 1%;
}

.nav {
  width: 100%;
  background: white;
  border-bottom: 1px solid #ddd;
  position: sticky;
  top: 0;
  z-index: 20;
}

.resBody {
  padding: 2rem;
  width: 100%;
  flex: 1;        
}

.backButton .back {
  background: transparent;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}


.page-content {
  margin-top: 1rem;
}

.Title {
  font-size: 1.8rem;
  margin-bottom: 1.2rem;
  font-weight: 600;
  color: #333;
}


.List {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

footer {
  margin-top: auto;
}

@media (max-width: 992px) {
  .resBody {
    padding: 1.5rem;
  }

  .Title {
    font-size: 1.6rem;
  }
}

/* MOBILE PHONES */
@media (max-width: 768px) {
  .top-section {
    flex-direction: column;
    align-items: flex-start;
  }

  /* .SearchBar {
    width: 100%;
  } */

  .resBody {
    padding: 1rem;
  }

  .Title {
    font-size: 1.5rem;
  }
}

/* SMALL MOBILE */
@media (max-width: 480px) {
  .Title {
    font-size: 1.3rem;
  }

  .List {
    gap: 0.8rem;
  }
}
